@using RecepiesByGirls.Data
@using static RecepiesByGirls.Models.RecipeBySearch
@model RecepiesByGirls.Models.RecipeBySearch.RecipesObjModel

@{
    ViewData["Title"] = "SearchResults";
}

<link rel="stylesheet" href="~/css/searchfav.css">
<script type="text/javascript" src="~/js/site.js"></script>


<h1>Search Results</h1>

@if (!string.IsNullOrEmpty(ViewBag.ErrorMessage))
{
    <div class="alert alert-danger">@ViewBag.ErrorMessage</div>
}
else
{
    var counter = 0;
    <ul>
        @foreach (var hit in Model.hits)
        {
            <li class="search-result">
                <a href="@hit.recipe.url" class="recipe-button" target="_blank">@hit.recipe.label</a>
                <div class="button-container">
                    <div class="element2">
                        <!-- Content for element 2 -->
                        <form method="get" asp-action="Details">
                            <input type="hidden" name="id" value="@hit.recipe.label" />
                            <a href="#" class="view-ingredients-link" onclick="this.parentElement.submit()">View Ingredients</a>
                        </form>
                    </div>

                    <div class="element1">
                        <!-- Content for element 1 -->
                    <button type="button" onclick='OnClickFav("@hit.recipe.label", "@hit.recipe.url", "like-button-@counter")' id="like-button-@counter">Like &#10084</button>
                    </div>
                </div>
            </li>

            counter++;
        }
    </ul>
}
